---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Cassandra"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/resources/axonops_cassandra_agent_disconnect_tolerance/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Agent disconnection tolerance can be imported using the format `cluster_type/cluster_name`:

{{ codefile "shell" "examples/resources/axonops_cassandra_agent_disconnect_tolerance/import.sh" }}

In Terraform v1.5.0 and later, use an [`import` block](https://developer.hashicorp.com/terraform/language/import) instead:

{{ tffile "examples/resources/axonops_cassandra_agent_disconnect_tolerance/import.tf" }}
