---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Kafka"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/resources/axonops_schema/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Schema Registry schemas can be imported using the format `cluster_name/subject`:

{{ codefile "shell" "examples/resources/axonops_schema/import.sh" }}
