---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Monitoring"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/data-sources/axonops_log_alert_rule/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
